* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.main-container {
    margin: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.CardDiv {
    display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap:2rem;
    margin: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  width: 50%;
  border-radius: 2rem;
}
h1 {
    font-size: 1.5rem;
  color: #534e4e;
}
label,input {
    margin:0.5rem;
    font-size: 1rem;
}
input {
    padding:0.3rem;
}
form span {
    display: flex;
  gap: 0.5rem;
}
#CalcBtn {
    width: 30%;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  background-color: #b5b56b;
  font-size: 1rem;
}
#CalcBtn:hover {
  background-color: #a0a057;
  cursor: pointer;
}
@media screen and (max-width:480px) {
    .CardDiv {
        width:100%;
    }
}
@media screen and (min-width:481px) and (max-width:768px) {
    .CardDiv {
        width:100%;
    }
}
